appdirs==1.4.3
asn1crypto==0.24.0
certifi==2017.11.5
cffi==1.11.2
click==6.7
cryptography==2.1.4
enum34==1.1.6
Flask==0.12.2
Flask-Testing==0.6.2
functools32==3.2.3.post2
idna==2.6
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
packaging==16.8
pathlib==1.0.1
pyasn1==0.4.2
pycparser==2.18
PyJWT==1.5.3
pyparsing==2.2.0
six==1.11.0
Werkzeug==0.12.2